<div class="container">
  <h1>Kittens</h1>

  <div *ngIf="!kittens">
    <p>Fetching kittens ...</p>
  </div>

  <div *ngIf="kittens">
    <p *ngIf="kittens.length === 0">No kittens yet.</p>

    <div *ngIf="kittens.length > 0">
      <p *ngFor="let kitten of kittens">
        Name: {{ kitten.name }}, age: {{ kitten.age }}
      </p>
    </div>

    <form
      autocomplete="off"
      [formGroup]="addKittenForm"
      (ngSubmit)="submitAddKittenForm()"
    >
      <input placeholder="Name..." formControlName="name" />
      <input type="number" placeholder="Age..." formControlName="age" />
      <button type="submit" [disabled]="!addKittenForm.valid">
        Add kitten
      </button>
    </form>
  </div>
</div>
